= simple_form_for(resource, :url => resource.new_record? ? collection_url : resource_url(resource), :html => { :method => (resource.new_record? ? "post" : "put") }) do |f|
  - if resource.errors.any?
    %p
      = pluralize(resource.errors.count, "error")
      prohibited this from being saved:
      %ul
        - resource.errors.full_messages.each do |msg|
          %li= msg
  - resource.attributes.each_pair do |field, value|
    - next if [ '_id', 'id', 'created_at', 'updated_at', 'uuid', 'key', 'node_ids', 'metric_ids' ].include?(field)
    = f.input field.to_sym
  = f.button :submit
